* {
    margin: 0;
    padding: 0;
}

a {
    color: #fff;
    text-decoration: none;
}

li,
ul {
    list-style: none;
}

body {
    max-width: 100vw;
    background-color: #222;
    color: #fff;
}

.header {
    width: 100vw;
}

.logo {
    display: block;
    /* marginが効く */
    margin: 40px auto;
}

.hero {
    width: 100vw;
}

.hero img {
    width: 100%;
    /* 子要素にはvw使わない */
}

.member {
    font-family: 'Shippori Mincho B1', serif;
    width: 95vw;
    margin: 40px auto 0 auto;
}

.member h2 {
    font-size: 50px;
}

.maincontent {
    font-family: 'Shippori Mincho B1', serif;
}

.member-content p {
    font-size: 20px;
}

.member-content {
    width: 100%;
    display: flex;
    align-items: flex-end;
}

.member img {
    width: 50%;
}

.member-text {
    width: 50%;
    margin-left: 24px;
}
.member-text p{
    font-size: 30px;
}
.member-item{
    font-size: 25px;
}

.member-list {
    margin-top: 24px;
}

.first {
    margin-top: 80px;
    width: 100vw;
    height: 60vw;
    max-height: 800px;
}

.first-header {
    position: relative;
    width: 100vw;
    height: calc(100% - 75px);
    overflow: hidden;
    /* はみ出たものを隠す */
}

.first-header img {
    position: absolute;
    width: 100%;
}

.first-header::after {
    content: "";
    position: absolute;
    z-index: 0;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, transparent 0 20%, #222 100%);
}

.first-header h1 {
    font-size: 60px;
    margin-left: 24px;
    position: absolute;
    bottom: 0;
    z-index: 1;

}

.first-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.first-content p {
    font-size: 30px;
    margin: 24px auto auto 24px;
}

.first-content a {
    font-size: 25px;
    padding: 16px 24px;
    border: solid #fff 1px;
    margin: 0 auto;
    text-align: center;
}

.second {
    width: 95vw;
    display: flex;
    margin: 80px auto 0 auto;
}

.second h1 {
    font-size: 60px;
}

.second p {
    font-size: 30px;
}

.second-content {
    margin-left: 24px;
    display: flex;
    flex-direction: column;
}

.second-content img {
    margin-top: 25px;
}

.second img {
    width: 50%;
}

.second-content a {
    font-size: 25px;
    padding: 16px 24px;
    border: solid #fff 1px;
    margin: 24px auto 0 0;
    text-align: center;
}

.third {
    width: 95vw;
    display: flex;
    margin: 80px auto 80px auto;
}
.third-content h1{
    font-size: 60px;
}
.third-content p{
    margin-bottom: 20px;
    font-size: 30px;
}
.third-content a{
    font-size: 25px;
}

.third img {
    width: 40%;
}

.third-content {
    margin-left: 24px;
}

.third-content img {
    width: 47%;
}

.third-content a {
    padding: 16px 24px;
    border: solid #fff 1px;
    text-align: center;

}

.third-img {
    margin-bottom: 24px;
}

@media (max-width:700px) {
    .member-content {
        flex-direction: column;
        align-items: flex-start;
    }

    .member h2 {
        font-size: 35px;
    }

    .member img {
        width: 100%;
    }
    .member-item{
        font-size: 15px;
    }

    .member-text {
        margin-left: 0;
        margin-top: 24px;
        width: 100%;
    }
    .member-text p{
        font-size: 20px;
    }

    .first {
        height: 400px;
    }

    .first-header h1 {
        font-size: 30px;
    }

    .first-content p {
        font-size: 20px;
    }

    .first-content {
        flex-direction: column;
    }

    .first-content a {
        font-size: 15px;
        margin: 15px auto 0 10px;
    }

    .second {
        flex-direction: column;
    }

    .second-content {
        margin-left: 0;
    }

    .second-content h1 {
        margin-top: -30px;
        margin-bottom: 20px;
        font-size: 30px;
    }

    .second-content a {
        font-size: 15px;
    }

    .second-content p {
        font-size: 20px;
    }

    .second img {
        width: 100%;

    }

    .none {
        display: none;
    }

    .third {
        flex-direction: column;
    }

    .third-content {
        margin-left: 0;
    }

    .third-content h1 {
        font-size: 30px;
        margin-top: -20px;
        margin-bottom: 10px;
    }

    .third-content p {
        font-size: 20px;
        margin-bottom: 15px;
    }

    .third-content a {
        font-size: 15px;
    }

    .third img {
        width: 90%;
    }

    .third-img img {
        width: 45%;
    }
}