* {
    margin: 0;
    padding: 0;
}

li,
ul {
    list-style: none;
}

a {
    color: #fff;
}


body {
    max-width: 100vw;
    background-color: #222;
    color: #fff;
}

.header {
    width: 100vw;
}

.logo {
    display: block;
    /* marginが効く */
    margin: 40px auto;
}


.maincontent {
    width: 100vw;
    font-family: 'Shippori Mincho B1', serif;
}



.first {
    width: 100vw;
    margin: 0 auto;
    font-family: 'Shippori Mincho B1', serif;
}

.first-header {
    width: 90vw;
    display: flex;
    align-items: flex-end;
    margin: 80px auto 30px auto;
}

.first-header h1 {
    margin-bottom: 20px;
    font-size: 60px;
    width: 60%;
}

.first-header p {
    font-size: 28px;
    width: 40%;
}

.first-content img {
    width: 100%;
}


.second {
    width: 100vw;
    margin: 80px auto 30px auto;
    font-family: 'Shippori Mincho B1', serif;
}

.second-header h1 {
    margin-bottom: 20px;
    font-size: 60px;
    width: 60%;
}

.second-header p {
    font-size: 28px;
    width: 40%;
}

.second-header {
    width: 90vw;
    display: flex;
    align-items: flex-end;
    margin: 80px auto 30px auto;
}

.second-content img {
    width: 100%;
}
.member-ite{
    width: 95vw;
    margin: 0 auto;
    font-family: 'Shippori Mincho B1', serif;
}

.member-list{
    width: 100%;
}
.member-list img{
    width: 23%;
    margin: 50px auto 0 20px;
}
.footer{
    width: 100vw;
    margin: 50px auto;
}
.qr{
    width: 100%;
    display: flex;
}
.hp{
    margin-left: 130px;
    width: 50%;
    display: flex;
    align-items: flex-end;

}
.hp img{
   width: 20%; 
}
.hp a{
    margin-left: 20px;
    font-size: 25px;
}

.logo2{
    width: 40%;
}
.logo2 img{
    width: 80%;
}


@media (max-width:700px) {
    .first{
        margin: 30px auto 0 auto;
    }
    .first-header{
        flex-direction: column;
        align-items: flex-start;
    }
.first-header h1{
    width: 90%;
    font-size: 28px;
}
.first-header p{
    width: 90%;
    font-size: 13px;
}

.second{
    margin: 30px auto 0 auto;
}

.second-header{
    flex-direction: column;
    align-items: flex-start;
}
.second-header h1{
    width: 90%;
    font-size: 28px;
}
.second-header p{
    width: 90%;
    font-size: 13px;
}
.member-list img{
    width: 23%;
    margin: 10px auto 0 4px;
}

.footer{
    width: 100vw;
    margin: 10px auto;
}
.qr{
    width: 100%;
    align-items: flex-start;
}
.hp{
   margin-left: 0;
}
.hp a{
    font-size: 10px;
}
.hp img{
    width: 20%;

}

.hp{
    margin-right: -50px;
    margin-left: 50px;
    flex-direction: column;
    align-items: flex-start;
}

}